/*#region--------------------- 头部--------------------- */
/* 头部容器样式 */
body .header {
    position: fixed;
    top: 0;
    padding: 0 60px;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}

/* logo位置 */
.header .logo {
    float: left;
    margin-top: 6px;
    width: 82px;
    height: 82px;
    background-image: url(../img/logo1.png);
    background-size: contain;
}

/* 登录注册容器 */
.header .logOn {
    float: right;
    display: none;
}

/* 字体大小位置设置 */
.header .logOn a {
    font-weight: bold;
    font-size: 16px;
    line-height: 60px;
    color: #214B5B;
}

/* 个人头像等容器 */
.header .personal {
    /* display: none; */
    position: relative;
    float: right;
}

.header .personal div {
    display: inline-block;
}

/*下拉框------ */
.header .personal .spinner {
    position: absolute;
    top: 70px;
    right: 0px;
    border: solid #214B5B;
}

.header .personal .spinner ul {
    margin: 10px;
    text-align: center;
    font-size: 14px;
}

.header .personal .spinner ul li {
    display: inline-block;
    padding: 2px;
    line-height: 20px;
}

/* 头像 */
.header .personal .head {
    display: inline-block;
    width: 52px;
    height: 52px;
    margin: 10px 10px 0 0;
    border: solid;
    border-radius: 50px;
    pointer-events: none;
}

/* 昵称 */
.header .personal .head_nav .name {
    float: right;
    line-height: 100px;
    color: #214B5B;
    pointer-events: none;
}

/* 消息通知 */
.header .personal .message {
    display: none;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 50px;
    background-image: url(../img/message_q.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header .personal .message:hover {
    background-image: url(../img/message.png);
    box-shadow: 0px 0px 3px 0px #214B5B;
}

/*#endregion*/
/*#region---------------主要内容----------------------*/
/* 容器 */
body .mainBox {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* 框框的盒子 */
.mainBox .Box {
    position: relative;
    display: table;
    margin: 0 auto;
    /* border: solid;
    width: 728px;
    height: 300px; */
    /* overflow: hidden; */
    /* ---56*4边距+4边线+250*2宽度-- */
}

/* 点击的框框 */
.mainBox .Box>div {
    display: inline-block;

}

/* 隐藏 */
.mainBox .Box .est_bigBox,
.mainBox .Box .join_bigBox {
    display: none;
}

/* 链接 */
.mainBox .Box .smallBox {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 300px;
    margin: 0 56px;
}

.mainBox .Box>div>div {
    border: solid #2c3e50;
    border-radius: 15px;
    /* box-shadow: 1px 1px 0px #999, 02px 2px 0px #888, 3px 3px 0px #777, 4px 4px 0px #666, 5px 5px 0px #555, 6px 6px 0px #444, 7px 7px 0px #333, 8px 8px 7px #001135; */
}

.mainBox .Box .smallBox:hover {
    box-shadow: 0px 0px 20px 0px #2c3e50;
    cursor: pointer;
}

/* 提示 */
.mainBox .Box .est_tips,
.mainBox .Box .join_tips {
    display: table;
    margin: 20px auto;
    color: #214B5B;
    letter-spacing: 10px;
    font-size: 36px;
}

/* 图标 */
.mainBox .Box .est_icon,
.mainBox .Box .join_icon {
    display: block;
    position: relative;
    top: 40%;
    width: 40%;
    height: 33%;
    margin: 0 auto;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

.mainBox .Box .establish .est_icon {
    background-image: url(../img/index_establish.png);
}

.mainBox .Box .join .join_icon {
    background-image: url(../img/index_join.png);
}

/*---- 加入大盒子 ---*/
/* .mainBox .Box .establish{
    display: none;
} */
.mainBox .Box .join_bigBox {
    position: relative;
    width: 500px;
    height: 300px;
}

/* 标题 */
.mainBox .Box .join_bigBox .join_til {
    display: table;
    margin: 40px auto 50px auto;
    font-weight: bold;
    font-size: 28px;
    color: #132C33;
}

/* 输入盒子 */
.mainBox .Box .join_bigBox .input_nav {
    border: solid;
    width: 310px;
    margin: 0 auto;
    border: solid #517c8d;
    border-radius: 5px;
}

.mainBox .Box .join_bigBox .input_nav:hover {
    border: solid #214B5B;
}

/* 输入框 */
.mainBox .Box .join_bigBox input {
    display: inline-block;
    line-height: 60px;
    width: 230px;
    padding-left: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
}

.idTips {
    font-size: 16px !important;
    color: #999999;
}

.idPd {
    color: rgb(196, 60, 60);
}

/* 点击进入 */
.mainBox .Box .join_bigBox .click_join {
    float: right;
    width: 60px;
    height: 60px;
    border-left: solid #2c3e50;
    background-image: url(../img/join_logo_q.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.mainBox .Box .join_bigBox .click_join:hover {
    cursor: pointer;
    background-image: url(../img/join_logo.png);
}

/* ----新建大盒子--- */
/* .mainBox .Box .join{
    display: none;
} */
.mainBox .Box .est_bigBox {
    position: relative;
    width: 650px;
    height: 520px;
}

/* 位置 */
.mainBox .est_bigBox>div {
    display: table;
    margin: 30px auto 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: #214B5B;
}

/* 标题 */
.mainBox .est_bigBox .est_til {
    font-size: 28px;
    color: #132C33;
}

/* 名称输入框 */
.mainBox .Box .est_bigBox .project_name input {
    padding-left: 10px;
    font-size: 18px;
    height: 40px;
    width: 400px;
    border: solid 1px;
    border-radius: 10px;
    vertical-align: middle;
}

.mainBox .Box .est_bigBox .project_name span {
    /* float: left; */
    vertical-align: middle;
}

/* 简介输入框 */
.mainBox .Box .est_bigBox .introduction textarea {
    height: 180px;
    width: 395px;
    padding: 10px;
    line-height: 22px;
    font-size: 15px;
    border: solid 1px;
    border-radius: 10px;
    outline: none;
    resize: none;
    /*不可调节*/
}
.mainBox .Box .est_bigBox .introduction {
    position: relative;
}
.mainBox .Box .est_bigBox .introduction .sum{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #88b3c4;
}

.mainBox .Box .est_bigBox .introduce {
    float: left;
    letter-spacing: 2px;
}

/* 选择 */
.mainBox .Box .est_bigBox .choice {
    width: 520px;
    margin-top: 10px;
}

.mainBox .Box .est_bigBox .choice span {
    display: inline-block;
    margin-right: 50px;
    font-weight: normal;
    font-size: 16px;
}

.mainBox .Box .est_bigBox .choice i {
    display: inline-block;
    margin-left: 5px;
}

/* 时间 */
#projectTime {
    padding: 3px;
    border-radius: 5px;
}

/* 等级 */
#projectRank {
    padding: 3px;
    border-radius: 5px;
}

/* 是否选择 */
/* 按钮 */
.onOffBorder {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 18px;
    border-radius: 9px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #2c3e50;
    cursor: pointer;
    transition: all .3s;
    vertical-align: middle;
}

.onOffBorder .onOffRod {
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    background-color: #46607b;
    transition: all .3s;
}

.mainBox .Box .est_bigBox .est_but input {
    display: inline-block;
    width: 150px;
    height: 40px;
    margin: 0px auto;
    border: none;
    background-color: #214B5B;
    color: #EEF7F2;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 5px;
    border-radius: 5px;
}

.mainBox .Box .est_bigBox .est_but input:hover {
    background-color: #132C33;
    box-shadow: 0px 0px 3px 0px #214B5B;
}

/* 返回按钮 */
.mainBox .Box .back {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    background-image: url(../img/back_q.png);
    background-size: contain;
}

.mainBox .Box .back:hover {
    background-image: url(../img/back.png);

}

/* ----------显示新建大盒子------- */

@keyframes toEstBig {
    0% {
        width: 250px;
        height: 300px;
        margin: 0 56px;
    }

    99% {
        width: 650px;
        height: 520px;
        margin: 0;
    }
}

@keyframes toJoinBig {
    0% {
        width: 250px;
        height: 300px;
        margin: 0 56px;
    }

    99% {
        width: 500px;
        height: 300px;
        margin: 0;
    }
}

@keyframes toSmall {
    0% {
        width: 250px;
        height: 300px;
        margin: 0 56px;
    }

    99% {
        width: 0px;
        height: 00px;
        margin: 0;
    }
}

/*#endregion*/
/*#region ----------------底部----------------*/
body .footer {
    position: fixed;
    bottom: 0;
    padding: 0 60px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
}

/* 图标容器 */
.footer .foot_icon {
    float: right;
    height: 60px;
}

/* 链接位置大小 */
.footer .foot_icon a {
    display: inline-block;
    margin-top: 16px;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    background-size: 32px;
    background-position: center;
}

/* 帮助图标 */
.footer .foot_icon .help {
    background-image: url(../img/public_help999.png);
}

.footer .foot_icon .help:hover {
    background-image: url(../img/public_help.png);
    box-shadow: 0px 0px 3px 0px #214B5B;
}

/* 快捷键图标 */
.footer .foot_icon .shortcutKey {
    background-image: url(../img/public_shortcutKey999.png);
    margin-right: 10px;
}

.footer .foot_icon .shortcutKey:hover {
    background-image: url(../img/public_shortcutKey.png);
    box-shadow: 0px 0px 3px 0px #214B5B;
}

/* 显示框 */
.footer .shortcut_nav {
    position: absolute;
    top: -280px;
    right: 60px;
    width: 200px;
    height: 280px;
    background-color: #F3F7F5;
}

/*#endregion*/
/* 装饰 */
.undraw_tree {
    position: absolute;
    bottom: 0;
    width: 600px;
    height: 400px;
    background-image: url(../img/undraw_Tree.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.mainTitle {
    position: absolute;
    top: 10px;
    left: 160px;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font-weight: 700;
    font-size: 56px;
    color: #214B5B;
    cursor: default;
}

/* .mainTitle:hover{
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; 
  } */
/* @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #214B5B,
                 0 0 70px #214B5B,
                 0 0 80px  #214B5B,
                 0 0 100px #214B5B,
                 0 0 150px #214B5B;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #214B5B,
                 0 0 35px #214B5B,
                 0 0 40px #214B5B,
                 0 0 50px #214B5B,
                 0 0 75px #214B5B;
    }
  }
   */



/* @keyframes upDowm{
    from{transform:translate(0,0)}
    to{transform:translate(0,5px)}
    } */