/* #region————————————————————————头部———————————————————————— */
body .header {
    position: fixed;
    top: 0;
    padding: 0 60px;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}

/* logo位置 */
.header .logoBox {
    float: left;
}

.header .logo {
    float: left;
    margin-top: 6px;
    width: 82px;
    height: 82px;
    background-image: url(../img/logo1.png);
    background-size: contain;
    background-size: contain;
}

.mainTitle {
    display: inline-block;
    top: 10px;
    left: 160px;
    line-height: 100px;
    /* text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135; */
    font-weight: 700;
    font-size: 56px;
    color: #214B5B;
    cursor: default;
}

/* #endregion */
/* #region —————————————————————mainBox——————————————————————— */
body {
    perspective: 2000px;
    background-color: #E6EEF1;
}

body::before,
body::after {
    display: table;
    content: "";
    clear: both;
}

.mainBox {
    position: relative;
    width: 450px;
    height: 560px;
    margin: 100px auto 0px;
    border: 1px solid #90d1f1;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #999;
    box-sizing: border-box;
    background-color: #fff;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.mainBox .login {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 50px 85px;
    border-radius: 5px;
    box-sizing: border-box;
}

.mainBox .login h4 {
    height: 46px;
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    color: #214b5b;
    transform: translateZ(40px);
}

.mainBox .login span {
    display: block;
    margin-top: 36px;
    font-size: 18px;
    color: #214b5b;
    transform: translateZ(60px);
}

.mainBox .login span::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    content: '';
}

.mainBox .login .email::before {
    background-image: url(../img/login_email.png);
}

.mainBox .login .password::before {
    background-image: url(../img/login_password.png);
}

.mainBox .login input {
    display: block;
    width: 100%;
    height: 20px;
    padding-bottom: 5px;
    border: 0px;
    border-bottom: 1.5px solid #3a6c65;
    margin-top: 28px;
    margin-bottom: 58px;
    font-size: 20px;
    text-indent: 0.2em;
    background-color: transparent;
    transform: translateZ(60px);
    transition: border-bottom .3s;
}

.mainBox .login input:focus {
    border-bottom: 1.5px solid #101f30;
}

.mainBox .login input[type=button] {
    position: relative;
    top: 0px;
    left: 0px;
    height: 55px;
    border: 0px;
    border-radius: 5px;
    margin-top: 63px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 55px;
    color: #fff;
    background-color: #214b5b;
    cursor: pointer;
    transform: translateZ(40px);
    transition: background-color .3s;
}

.mainBox .login input[type=button]:hover {
    background-color: #101f30;
}

.mainBox .login .link {
    position: relative;
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    transform: translateZ(35px);
}

.mainBox .login .link a {
    position: absolute;
    top: 0px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    color: #335867;
    transition: color .3s;
}

.mainBox .login .link a:hover {
    color: #101f30;
}

.mainBox .login .link a:after {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    content: '';
}

.mainBox .login .link a:first-child {
    left: -2px;
}

.mainBox .login .link a:first-child:after {
    background-image: url(../img/login_forgetPassword.png);
    content: '';
}

.mainBox .login .link a:last-child {
    right: -2px;
}

.mainBox .login .link a:last-child:after {
    background-image: url(../img/login_rigister.png);
    content: '';
}

.mainBox .register {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 50px 85px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.mainBox .register div {
    position: relative;
    width: 110%;
    height: 26.5px;
    margin-top: 25px;
    transform: translate3d(-5%, 0, 60px);
}

.mainBox .register div span {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 64px;
    height: 20px;
    text-align-last: justify;
    color: #214B5B;
}

.mainBox .register h4 {
    height: 46px;
    padding-bottom: 10px;
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    color: #214b5b;
    transform: translateZ(40px);
}

.mainBox .register input {
    display: block;
    width: calc(100% - 80px);
    height: 20px;
    padding-bottom: 5px;
    border: 0px;
    border-bottom: 1.5px solid #3a6c65;
    margin-top: 25px;
    margin-left: 84px;
    font-size: 14px;
    text-indent: 0.2em;
    color: #000;
    background-color: transparent;
    transition: border-bottom .3s, box-shadow .3s;
}

.mainBox .register .inputTips {
    color: #999;
}

.mainBox .register input:focus {
    border-bottom: 1.5px solid #101f30;
}

.mainBox .register .vc {
    width: 110%;
    height: 25px;
    margin-top: 25px;
}

.mainBox .register .vc>div {
    transform: translate3d(0, 0, 60px);
}

.mainBox .register .VC {
    float: left;
    width: 34%;
    margin: 0px;
    margin-left: 84px;
}

.mainBox .register .getVC {
    float: right;
    width: 32%;
    height: 40px;
    padding: 0px;
    border: 0px;
    border-radius: 4px;
    margin-top: -37px;
    margin-right: -4px;
    font-size: 12px;
    color: #fff;
    background-color: #214b5b;
    cursor: pointer;
    transform: translateZ(60px);
    transition: background-color .3s;
}

.mainBox .register .getVC:focus {
    border-bottom: none;
}

.mainBox .register .getVC:hover {
    background-color: #101f30;
}

.mainBox .register .submit {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    margin-top: 48px;
    margin-left: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 55px;
    color: #fff;
    background-color: #214b5b;
    cursor: pointer;
    transform: translateZ(40px);
    transition: background-color .3s;
}

.mainBox .register .submit:hover {
    background-color: #101f30;
}

.mainBox .register a {
    display: block;
    width: 135px;
    height: 25px;
    margin: auto;
    font-size: 15px;
    line-height: 25px;
    color: #335867;
    transform: translateZ(35px);
    transition: color .3s;
}

.mainBox .register a:hover {
    color: #101f30;
}

.mainBox .register .errorTips {
    position: absolute;
    bottom: -30px;
    left: 86px;
    padding-left: 12px;
    margin: 0px;
    font-size: 10px;
    line-height: 12px;
    color: #aa0000;
    transform: translateZ(60px);
}

.errorTips::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 12px;
    height: 12px;
    background-image: url(../img/login_error.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    content: '';
}

/* #endregion */