/* #region————————————————————————头部———————————————————————— */
body .header {
    position: fixed;
    top: 0;
    padding: 0 60px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
}

/* logo位置 */
.header .logo {
    float: left;
    margin-top: 6px;
}

/* logo大小 */
.header .logo img {
    width: 42px;
}

/* #endregion */
/* #region —————————————————————mainBox——————————————————————— */
body {
    perspective: 2000px;
}

body::before,
body::after {
    display: table;
    content: "";
    clear: both;
}

.mainBox {
    position: relative;
    width: 450px;
    height: 560px;
    margin: 100px auto 0px;
    border: 1px solid #90d1f1;
    box-shadow: 0px 2px 5px #999;
    box-sizing: border-box;
    background-color: #fff;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.mainBox:hover {
    /* transform: rotateY(-180deg); */
}

.mainBox .login {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 50px 85px;
    box-sizing: border-box;
}

.mainBox .login h4 {
    height: 46px;
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    color: #214b5b;
    transform: translateZ(40px);
}

.mainBox .login span {
    display: block;
    margin-top: 36px;
    font-size: 18px;
    color: #214b5b;
    transform: translateZ(60px);
}

.mainBox .login input {
    display: block;
    width: 100%;
    height: 20px;
    padding-bottom: 5px;
    border: 0px;
    border-bottom: 1px solid #3a6c65;
    margin-top: 32px;
    margin-bottom: 56px;
    font-size: 20px;
    text-indent: 0.2em;
    background-color: transparent;
    transform: translateZ(60px);
    transition: border-bottom .3s, box-shadow .3s;
}

.mainBox .login input:focus {
    border-bottom: 1px solid #101f30;
}

.mainBox .login input[type=button] {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    height: 55px;
    border-radius: 5px;
    margin-top: 63px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 55px;
    color: #fff;
    background-color: #214b5b;
    cursor: pointer;
    transform: translateZ(40px);
    transition: background-color .3s;
}

.mainBox .login input[type=button]:hover {
    background-color: #101f30;
}

.mainBox .login .link {
    position: relative;
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    transform: translateZ(35px);
}

.mainBox .login .link a {
    position: absolute;
    top: 0px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    color: #335867;
    transition: color .3s;
}

.mainBox .login .link a:hover {
    color: #101f30;
}

.mainBox .login .link a:after {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    content: '';
}

.mainBox .login .link a:first-child {
    left: -2px;
}

.mainBox .login .link a:first-child:after {
    background-image: url(../img/login_forgetPassword.png);
    content: '';
}

.mainBox .login .link a:last-child {
    right: -2px;
}

.mainBox .login .link a:last-child:after {
    background-image: url(../img/login_rigister.png);
    content: '';
}

.mainBox .register {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: rotateY(180deg);
}

/* #endregion */