/*#region--------------------- 头部--------------------- */
/* 头部容器样式 */
body .header {
    position: fixed;
    top: 0;
    padding: 0 60px;
    box-sizing: border-box;
    min-width: 800px;
    width: 100%;
    height: 100px;
}

.mainTitle {
    position: absolute;
    top: 10px;
    left: 160px;
    /* text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135; */
    font-weight: 700;
    font-size: 56px;
    color: #214B5B;
    cursor: default;
}

/* logo位置 */
.header .logo {
    float: left;
    margin-top: 6px;
    width: 82px;
    height: 82px;
    background-image: url(../img/logo1.png);
    background-size: contain;
}

/* 登录注册容器 */
.header .logOn {
    float: right;
}

/* 字体大小位置设置 */
.header .logOn a {
    font-weight: bold;
    font-size: 16px;
    line-height: 60px;
    color: #214B5B;
}

/*#endregion*/