.mainBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.control {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 100;
    width: 40px;
    padding: 20px 0px;
    background-color: #333;
}

.control .first {
    /* flex: 1; */
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.control .first div {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-image: url(../img/project_rightButton.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.control .first div:hover {
    background-color: #666;
}

.control .secound {
    height: 160px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.control .secound div {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-image: url(../img/project_rightButton.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.control .secound div:hover {
    background-color: #666;
}

.control .secound .heightLight {
    background-color: #262626;
}

.control .third {
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.control .third div {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-image: url(../img/project_rightButton.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.control .third div:hover {
    background-color: #666;
}

.control .third .heightLight {
    background-color: #262626;
}

.treeBox {
    flex: 1;
    position: relative;
    box-sizing: border-box;
    background-color: #666;
    overflow: hidden;
}

.treeBox .treeBoxMain {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    min-width: 1260px;
    min-height: 700px;
    border-radius: 5px;
    background-color: rgb(230, 238, 241);
    transform: translate(-50%, -50%);
}

.treeBox .root {
    position: absolute;
    z-index: 20;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
}

.treeBox .node {
    position: absolute;
    z-index: 20;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.treeBox .theme {
    position: absolute;
    top: -18px;
    left: 50%;
    width: 200px;
    height: 15px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #214B5B;
    pointer-events: none;
    transform: translate(-50%, 0);
}

.treeBox .hideTheme .theme {
    display: none;
}

.treeBox .treeBoxFullScreen {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/project_fullScreen.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.treeBox .treeBoxPercentageTips {
    display: none;
    position: absolute;
    bottom: 8%;
    left: 50%;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, 0);
}

.treeList {
    width: 20%;
    background-color: #333;
}

.treeListMain {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.treeListMain div {
    padding-left: 1em;
}

.treeListMain h4 {
    position: relative;
    padding-left: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #ccc;
    cursor: pointer;
    transition: background-color .2s;
}

.treeListMain h4:hover {
    background-color: #555555;
}

.treeListMain h4 span {
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 8px;
    width: 12px;
    height: 12px;
    background-image: url(../img/project_p_fold.png);
    background-repeat: no-repeat;
    background-size: 120%;
    transform: translate(0, -50%) rotate(90deg);
    transition: transform .3s;
}

/* .treeListMain h4:hover span {
    display: block;
} */

.treeListMain .children {
    position: relative;
    padding-left: 0;
}

.treeListMain .children::before {
    position: absolute;
    left: 12.5px;
    top: 0px;
    width: 0px;
    height: 100%;
    /* border-left: 1px dashed #999; */
    border-left: 1px solid #666;
    content: '';
}

.treeListMain .myList {
    color: #fff;
}

.treeListMain .treeListHeightLight {
    background-color: #666666;
}

.treeListMain .lock {
    position: relative;
    padding-right: 20px;
}

.treeListMain .lock::before {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 16px;
    height: 16px;
    background-image: url(../img/project_p_lock.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transform: translate(0, -50%);
    content: '';
}

/* 弹窗 */
.popup {
    position: absolute;
    top: 0;
    left: 40px;
    height: 100%;
    width: 18%;
    padding: 25px 20px;
    color: #eee;
    background-color: #444;
    box-sizing: border-box;
    display: none;
    z-index: 57;
}

/* 标题 */
.popup .popTitle,
.popup .popCont {
    color: #eee;
    font-size: 24px;
    font-weight: bold;
}

/* 标题输入框 */
.popup .inTitle,
.popup textarea {
    width: 100%;
    height: 5%;
    padding: 5px 10px;
    margin: 15px 0 25px 0;
    border: none;
    color: #eee;
    font-size: 18px;
    background-color: #555;
    box-sizing: border-box;
}

/* 内容输入框 */
.popup textarea {
    height: 60%;
    line-height: 24px;
    padding: 10px;
    /*不可调节*/
    resize: none;
}

/* 是否选择 */
.popup .choice {
    display: none;
}

/* 按钮 */
.onOffBorder {
    float: right;
    position: relative;
    width: 40px;
    height: 18px;
    margin-top: 4px;
    border-radius: 9px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #2c3e50;
    cursor: pointer;
    transition: all .3s;
    vertical-align: middle;
}

.onOffBorder .onOffRod {
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    background-image: url(../img/public_onOffFalse.png);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    background-color: #46607b;
    transition: all .3s;
}

/* 提交 */
.popup .sub {
    position: absolute;
    right: 20px;
    bottom: 25px;
    letter-spacing: 5px;
    font-size: 18px;
    display: none;
    cursor: pointer;
}

/* 创建者、最后修改 */
.popup .author,
.popup .lastTime {
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 点赞 */
.popup .star {
    position: absolute;
    bottom: 25px;
    right: 20px;
    width: 48px;
    height: 50px;
}

.popup .star .starPhoto {
    width: 24px;
    height: 24px;
    margin: 0px auto 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.popup .star .starFalse {
    background-image: url(../img/project_starFalse.png);
}

.popup .star .starTrue {
    background-image: url(../img/project_starTrue.png);
}

.popup .star .starNumber {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #999;
}

/* 详细信息 */
.message {
    position: absolute;
    top: 0;
    left: 40px;
    height: 100%;
    width: 18%;
    padding: 25px;
    color: rgb(163, 175, 190);
    background-color: #444;
    box-sizing: border-box;
}

.message div {
    margin: 20px 0;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message div span {
    font-size: 16px;
    color: #eee;
}

/* 项目名 */
.message .project_name {
    margin: 5px 0 20px 0;
}

.message p {
    width: 100%;
    height: 60%;
    background-color: #555;
}

/* 小盒子 */
.small {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    height: 170px;
    padding: 25px;
    text-align: center;
    color: #eee;
    background-color: #444;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}

/* 关闭 */
.small .close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    background-image: url(../img/project_close.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* 删除节点*/
.small .delNode {
    font-size: 22px;
}

/* 确定语句 */
.small .sureNode {
    font-size: 16px;
    margin: 20px 0;
}

/* 按钮 */
.small span {
    display: inline-block;
    width: 40px;
    line-height: 25px;
    margin: 0 20px;
    font-size: 14px;
    background-color: #666;
    cursor: pointer;
}

.small span:hover {
    background-color: #222;
}