/*#region —————————————————————————————————————初始化———————————————————————————————————— */
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

/* 自制屏幕顶部alert样式 */
.topAlert {
    position: fixed;
    top: 15vh;
    left: 50%;
    font-size: 3vw;
    font-family: '华文新魏';
    transform: translate(-50%);
}
/* 设置祖先元素的高度 */
html,body{
    height: 100%;
}

/*高度塌陷处理*/
.cleafix::before,
.cleafix::after {
    display: table;
    content: "";
    clear: both;
}

/* --显示动画--- */
@keyframes show{
    0%{
        opacity: 0;
    }
   100%{
      opacity: 1; 
    }
}


/*#endregion*/