/*#region--------------------- 头部--------------------- */
/* 头部容器样式 */
body {
    cursor: default;
}

body .header {
    position: fixed;
    top: 0;
    padding: 0 60px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
}

/* logo位置 */
.header .logo {
    float: left;
    margin-top: 6px;
    width: 42px;
    height: 42px;
    background-image: url(../img/logo1.png);
    background-size: contain;
}

/* 返回首页 */
.header .reindex {
    float: right;
    margin-top: 12px;
}

.header .reindex a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-image: url(../img/indexlogo_q.png);
    background-position: center;
    background-size: 34px;
}

.header .reindex a:hover {
    background-image: url(../img/indexlogo.png);
    box-shadow: 0px 0px 3px 0px #214B5B;
}

/*#endregion*/
/**#region------------个人情况----------- */
body .emptyBox {
    height: 60px;
}

/* 大框架 */
body .personalBox {
    position: relative;
    display: block;
    background-color: #EEF7F2;
}

/* 容器居中 */
.personalBox .main_mes {
    display: table;
    margin: 0 auto;
}

.personalBox .main_mes>div {
    text-align: center;
    margin: 20px 0;
}

.personalBox .main_mes>div>span {
    display: inline-block;
    margin: 0 15px;
    letter-spacing: 2px;
    vertical-align: middle;
    color: #214B5B;
}

/* 头像 */
.personalBox .main_mes .head {
    display: inline-block;
    width: 58px;
    height: 58px;
    border: solid;
    border-radius: 50px;
    vertical-align: middle;
}

/* 昵称 */
.personalBox .main_mes .userName {
    font-size: 20px;
    font-weight: bold;
}

/* 简介内容 */
.personalBox .userIntroduce .intro_txt {
    display: inline-block;
    margin-left: -10px;
    width: 320px;
    color: #000;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 树苗 */
.tree {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 0px;
    left: 380px;
    background: url(../img/tree.png) no-repeat center;
    background-size: contain;
}

/*#endregion*/
/* #region---------参加过的项目 ---------------*/
.bigBox{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
   
}

/* 历史记录标题 */
.bigBox .history {
    position: absolute;
    left: -120px;
    top: 0;
    padding: 10px;
    text-align: center;
    border-top: none;
    border-radius: 5px;
    background-color: #f8fcfa;
    color: #214B5B;
    opacity: 1;
}

/* 背景 */
.bigBox .changeBox .backLogo {
    position: absolute;
    width: 770px;
    height: 460px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;
    pointer-events: none;
}

.bigBox .projectLi {
    margin: 20px 10px 50px auto;
    overflow: auto;
    /* border: solid #EEF7F2; */
}

.bigBox .projectLi::-webkit-scrollbar {
    width: 5px;
}

.bigBox .projectLi::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #214B5B;
}

.bigBox .projectLi::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #EEF7F2;
}

/* 项目列表 */
.bigBox .projectLi li {
    padding: 5px 15px;
    margin: 20px 10px;
    width: 700px;
    height: 72px;
    background-color: #f8fcfa;
    border: solid 1px #214B5B;
    color: #000000;
    /* border: solid #6AC1ED 1px; */
    border-radius: 5px;
}

.bigBox .projectLi li:hover {
    box-shadow: 0 0 5px #214B5B;
}

.bigBox .projectLi li:first-child {
    margin-top: 0px;
}

.bigBox .projectLi li:last-child {
    margin-bottom: 0px;
}

/* 标题 */
.bigBox .projectLi li .txt_name {
    display: block;
    margin-bottom: 3px;
    font-weight: 600;
    cursor: pointer;
}

/* 简介内容 */
.bigBox .projectLi li .txt {
    font-size: 12px;
    margin: auto;
    width: 700px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

/* 日期和人数 */
.bigBox .projectLi li .pro_date,
.bigBox .projectLi li .team_num {
    vertical-align: middle;
    font-size: 10px;
    color: #2a2a2b;
}

/* 小图标logo */
.bigBox .projectLi li i {
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    background-image: url(../img/team.png);
    background-size: contain;
}

/* 日期logo */
.bigBox .projectLi li .date {
    background-image: url(../img/date.png);
    margin-left: 0;
}





/*#endregion*/

@keyframes upDowm {
    from {
        transform: translate(0, 0)
    }

    to {
        transform: translate(0, 20px)
    }
}