/*#region--------------------- 头部--------------------- */
/* 头部容器样式 */
body .header {
    position: fixed;
    top: 0;
    padding: 0 60px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
}

/* logo位置 */
.header .logo {
    float: left;
    margin-top: 6px;
    width: 42px;
    height: 42px;
    background-image: url(../img/logo1.png);
    background-size: contain;
}

/* 返回首页 */
.header .reindex {
    float: right;
    margin-top: 12px;
}

.header .reindex a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-image: url(../img/indexlogo_q.png);
    background-position: center;
    background-size: 34px;
}

.header .reindex a:hover {
    background-image: url(../img/indexlogo.png);
    box-shadow: 0px 0px 3px 0px #214B5B;
}

/*#endregion*/
/**#region------------个人情况----------- */
body .emptyBox {
    height: 60px;
}

/* 大框架 */
body .personalBox {
    position: relative;
    display: block;
    background-color: #EEF7F2;
}

/* 容器居中 */
.personalBox .main_mes {
    display: table;
    margin: 0 auto;
}

.personalBox .main_mes>div {
    text-align: center;
    margin: 20px 0;
}

.personalBox .main_mes>div>span {
    display: inline-block;
    margin: 0 15px;
    letter-spacing: 2px;
    vertical-align: middle;
    color: #214B5B;
}

/* 头像 */
.personalBox .main_mes .head {
    display: inline-block;
    width: 58px;
    height: 58px;
    border: solid;
    border-radius: 50px;
    vertical-align: middle;
}

/* 昵称 */
.personalBox .main_mes .name {
    font-size: 20px;
    font-weight: bold;
}

/* 简介内容 */
.personalBox .introduce .intro_text {
    display: inline-block;
    margin-left: -10px;
    width: 320px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 树苗 */
.tree {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: -3px;
    left: 380px;
    background: url(../img/tree.png) no-repeat center;
    background-size: contain;
}

/*#endregion*/
/* #region---------参加过的项目 ---------------*/
.bigBox .changeBox {
    position: relative;
    border: solid #EEF7F2;
    margin: 0 auto;
    width: 770px;
    height: 450px;
}
/* .bigBox .projects:hover .history {
    animation: show 1s;
    animation-fill-mode: forwards;
} */
.bigBox .projects{
    display: none;
}

/* 历史记录标题 */
.bigBox .history,
.bigBox .fans_til,
.bigBox .follow_til {
    position: absolute;
    left: -50px;
    top: 5%;
    padding: 10px;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #EEF7F2;
    color: #214B5B;
    opacity: 1;
}

.bigBox .fans_til {
    top: 42%;
}

.bigBox .follow_til {
    top: 70%;
}

/* 背景 */
.bigBox .changeBox .backLogo {
    position: absolute;
    width: 770px;
    height: 450px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;
    pointer-events: none;
}

/* 项目列表 */
.bigBox .projectLi li {
    padding: 5px 15px;
    margin: 20px auto;
    width: 700px;
    height: 70px;
    background-color: #f8fcfa;
    color: #214B5B;
    /* border: solid #6AC1ED 1px; */
    border-radius: 5px;
}

/* 标题 */
.bigBox .projectLi li .txt_name {
    display: block;
    margin-bottom: 3px;
    font-weight: 600;
}

/* 简介内容 */
.bigBox .projectLi li .txt {
    font-size: 12px;
    margin: auto;
    width: 700px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

/* 日期和人数 */
.bigBox .projectLi li .pro_date,
.bigBox .projectLi li .team_num {
    vertical-align: middle;
    font-size: 10px;
    color: #2a2a2b;
}

/* 小图标logo */
.bigBox .projectLi li i {
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    background-image: url(../img/team.png);
    background-size: contain;
}

/* 日期logo */
.bigBox .projectLi li .date {
    background-image: url(../img/date.png);
    margin-left: 0;
}

/* 分页 */
.bigBox .pagination {
    display: table;
    margin: 0 auto;
}

/* 左右 */
.bigBox .pagination span {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background-image: url(../img/left_q.png);
    background-size: contain;
}

.bigBox .pagination .rig {
    background-image: url(../img/rig_q.png);
}

.bigBox .pagination .rig:hover {
    background-image: url(../img/rig.png);
}

.bigBox .pagination .lef:hover {
    background-image: url(../img/left.png);
}

/* 页数 */
.bigBox .pagination ul {
    display: inline-block;
    vertical-align: middle;
}

.bigBox .pagination li {
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    text-align: center;
    font-size: 12px;
    color: #214B5B;
    border-radius: 50px;
    border: solid 1px #6AC1ED;
}
/* 粉丝-------- */
.bigBox .fans{
    height: 420px;
}
/* 粉丝框 */
.bigBox .fLi li{
    padding: 5px 15px;
    margin: 20px auto;
    width: 700px;
    height: 50px;
    color: #214B5B;
    /* border: solid #6AC1ED 1px; */
    border-radius: 5px;
    border: solid 1px #6AC1ED;
}
.bigBox .fLi li>span{
    float: left;
    margin: 3px 8px;
}
.bigBox .fLi li .f_head{
    width: 38px;
    height: 38px;
    border-radius: 50px;
    border: solid;
}
.bigBox .fLi li .f_name{
    line-height: 38px;
} 
.bigBox .fLi li .f_but{
    float: right;
    width: 100px;
    margin-top: 12px;
    line-height: 25px;
    text-align: center;
    border: solid 1px;
    border-radius: 10px;
}
.bigBox .follows{
    display: none;
}

.earth{
    position: absolute;
    right: -200px;
    top: -100px;
    width: 100px;
    height: 100px;
    background-image: url(../img/earth.png);
    background-size: contain;
        animation: heart 1.3s ease-in-out 0s infinite alternate;
}
/*#endregion*/


@keyframes heart{
    from{transform:translate(0,0)}
    to{transform:translate(0,20px)}
    }